@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,333;1,333&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,335;1,335&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-display: "Rubik", "sans-serif";
    --font-body: "Karla", "sans-serif";

    --color-burntOrange: oklch(59.48% 0.168676 45.4846);
    --color-burntOrangeLight: oklch(62.8% 0.1573 49.74);
    --color-terracota: oklch(65.54% 0.1544 17.94);
    --color-terracotaLight: oklch(71.66% 0.1485 32.59);
    --color-plum: oklch(40.42% 0.158 335.42);
    --color-wine: oklch(38.35% 0.1327 4.77);
    --color-teal: oklch(48.12% 0.0773 213.22);
}

.flip-card {
    perspective: 1000px; /*strength of 3D transformation*/
  }
  
  .flip-inner {
    transform-style: preserve-3d; /*keep child elements in 3D*/
  }

  .group-hover:rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  } 
